<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ini Home</title>
</head>
<body>
    <a href="/teacher">Teacher</a>
    <a href="/student">Student</a>
    <a href="/task">Task</a>
</body>
</html>